.projectMain{
    width: 97vw;
    height: 1900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projectMainTile{
    font-size: 8rem; 
    font-family: "Biotif Mid", sans-serif;
    color: var(--main-color);
    width: 150px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

}
.projectMainGrid{
    width: 90%;
    height: 700px;
    border-radius: "30px";
}
.projectMainGridObject{
    background-color: var(--main-color-light);
    border-radius: "30px";
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.projectMainGridObject h1 {
    color: var(--main-color);
}
.projectMainCarousel{
    width: 90vw;
    box-shadow: 5px 5px 5px rgb(171, 170, 170), -5px -5px 5px rgb(233, 232, 232);
    border-radius: 10px;

}