

.firstPage {
  width: 97vw;
  height: 770px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.fpLeftBlock {
  width: 20%;

  height: 700px;
}

.fpageMainTextBlock {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.fpageMainTextBlockTagline{
  display: flex;
  justify-content: flex-start;
  align-items:start;
  flex-direction: column;
  width: 50%;
  
}

.fpageMainTextBlockName{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 97%;
  
  
}

.fpageMainTextBlockh1 {
 
  font-size: 3.5rem;
  font-family: "Biotif Mid", sans-serif;
  opacity: 0.3;
  color: var(--main-color);
}
.fpageMainTextBlock h2 {

  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: var(--main-color);
  align-self: flex-start;
}

.fpageMainTextBlock h3 {

  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  align-self: flex-start;
  color: var(--main-color);
}
.resumeLink {
  width: 35%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
  visibility: hidden;

}
.resumeLinkButton {
  background: rgb(214, 212, 212);
  color: var(--main-color);
  width: 200px;
  height: 50px;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(171, 170, 170), -5px -5px 5px rgb(233, 232, 232);
}
.fpRightBlock {
  width: 25%;
  height: 400px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding-bottom: 10vh;
}

.imageBlock {
  background: url("https://i.imgur.com/hzqhAsq.png");
  min-width: 25vw;
  min-height: 70vh;
  background-repeat: no-repeat;
  background-blend-mode:luminosity ;
  background-size: cover;
  border-radius: 165px;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  box-shadow: 9px 9px 5px rgb(171, 170, 170), -9px -9px 5px rgb(233, 232, 232);
}

@media screen and (max-width :768px) {

}