

.navbar{
    width: 97vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 75px;
}

.navbarLeftBox{
    width: 50%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    

}
.navbarLeftBox h1{
    font-family: 'Montserrat', sans-serif; 
    font-size: 24px; 
    font-weight: bold; 
    text-decoration: none; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    color: transparent;
    text-shadow: 0 0 1px var(--main-color);
    cursor: pointer;
}
.navbarRightBox{
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.button {
    background: transparent;
    color: var(--main-color);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;

    
}

.button:hover {
    color: white;
    background: var(--main-color);
    box-shadow: 5px 5px 5px rgb(171, 170, 170), -5px -5px 5px rgb(233, 232, 232);
}
